{{#if canBack}}
  <a href="" {{action "prev"}} class='hq-navigation-button'>{{fa-icon "chevron-left"}}</a>
{{else}}
  <a class='hq-navigation-button hq-navigation-button-disabled'>{{fa-icon "chevron-left"}}</a>
{{/if}}
