html, body {
  margin: 20px;
}

a.active {
  background-color: rgb(231, 231, 231) !important;
}

div.loading {
  color: gray;
  margin: 20px;
}


div.main-content {
  padding-left: 20px;
  padding-right: 20px;
}

a.hq-navigation-button {
  display: inline-block !important;
  border: 1px solid green;
}

.navigation-container {
  width: 75px;
}

.container-fluid {
  margin-left: 0px !important;
}

a.hq-navigation-button-disabled {
  color: gray !important;
}

.disableSelection{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: 0;
}
