html, body {
  margin: 20px;
}

a.active {
  background-color: rgb(231, 231, 231) !important;
}

div.loading {
  color: gray;
  margin: 20px;
}


div.main-content {
  padding-left: 20px;
  padding-right: 20px;
}

a.hq-navigation-button {
  display: inline-block !important;
  border: 1px solid green;
}

.navigation-container {
  width: 107px;
}

.container-fluid {
  margin-left: 0px !important;
}
