<h1>Categorías</h1>


<ul>
  <li>{{#link-to "category" "Programas de televisión"}}Programas de televisión{{/link-to}}</li>
  <li>{{#link-to "category" "Militares"}}Militares{{/link-to}}</li>
  <li>{{#link-to "category" "Escritores"}}Escritores{{/link-to}}</li>
  <li>{{#link-to "category" "Filósofos"}}Filósofos{{/link-to}}</li>
</ul>
