<h2>Resultado</h2>

{{#if working}}
  <p>Buscando ...</p>
{{else}}

  {{#if empty}}

    <p>Oh, no hay resultados... intentá con otra búsqueda.</p>

  {{else}}

    <ul>
      {{#each result as |page index|}}
        <li>{{#link-to "show" page.id}}{{page.title}}{{/link-to}}</li>
      {{/each}}
    </ul>

  {{/if}}

{{/if}}
