<div class="huayra-quotes-search">
  {{input type="text" action="search" value=q}}

  {{#if canSearch}}
    <button class='btn btn-success' {{action "search"}}>Buscar</button>
  {{else}}
    <button class='btn btn-success' disabled>Buscar</button>
  {{/if}}

</div>

{{outlet}}
